#dhano
{
    /*background-image: url('https://img.freepik.com/free-photo/majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai_188544-15662.jpg?w=900&t=st=1711438063~exp=1711438663~hmac=615fcbeaaa64c91b1ee906db1048ee85bed5a4a6e240312ea62b258893bd7684');
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(red,blue);*/






}